<a href="https://colab.research.google.com/github/Kiarro21/Kiarro21/blob/main/DataSiencec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np

students_performance = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

students_performance.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [17]:
students_performance.iloc[0:3, 0:5]

   gender race/ethnicity  ...     lunch test preparation course
0  female        group B  ...  standard                    none
1  female        group C  ...  standard               completed
2  female        group B  ...  standard                    none

[3 rows x 5 columns]

In [21]:
students_performance_with_names = students_performance.iloc[[0, 3, 4 ,7, 8]]
students_performance_with_names.index = ["Cersei", "Tywin", "Gregor", "Joffrey", "Payne"]
students_performance_with_names

         gender race/ethnicity  ... reading score writing score
Cersei   female        group B  ...            72            74
Tywin      male        group A  ...            57            44
Gregor     male        group C  ...            78            75
Joffrey    male        group B  ...            43            39
Payne      male        group D  ...            64            67

[5 rows x 8 columns]

In [25]:
students_performance_with_names.loc[["Cersei", "Joffrey"], ["gender", "writing score"]]

         gender  writing score
Cersei   female             74
Joffrey    male             39